main {


        background-image: url("../img/index_fons.jpg");
        background-size: cover;

        padding: 30px;
        flex-grow: 1;
}

.form_input {
    display: flex;
    flex-direction: column;
    
    margin: auto;
    /*
    margin-left: auto ;
    margin-right: auto;
    */
    text-align: center;
    width: 50%;
    max-width: 400px;
    /* min-width: fit-content;
    min-height: auto;
    
    padding: 5%;
    */
    border: solid 3px;
    border-color:  #97bae7;
    background-color: hsla(208, 38%, 73%, 0.404);
    
}


.form_input input {
    margin: 15px;
    padding: 5px;
    background-color: hsla(208, 78%, 39%, 0.568)
}

.form_input input::placeholder {
  color: rgba(37, 26, 194, 0.808);
  opacity: 1; /* Firefox */
}