.form_input {
  display: flex;
  flex-direction: column;

  margin: auto;
  text-align: center;
  width: 50%;
  max-width: 500px;
  min-width: 250px;

  padding: 15px;

  border: solid 3px;
  border-color: #97bae7;
  background-color: hsla(210, 40%, 75%, 0.40);

}


.form_input input {
  margin: 15px;
  padding: 5px;
  background-color: hsla(208, 78%, 39%, 0.568)
}

.form_input input::placeholder {
  color: rgba(37, 26, 194, 0.808);
  opacity: 1;
}



/* id="btn_crear_cuenta"  */


.btn_login{
background-color: hsla(101, 79%, 44%, 0.658);
margin: 10px;
}

#btn_signup {
  color: rgb(53, 14, 223);
  font-weight: bold;
  text-decoration: underline;
}

