.form_login {
  display: flex;
  flex-direction: column;

  margin: auto;
  text-align: center;
  width: 50%;
  max-width: 500px;
  min-width: 250px;

  padding: 15px;

  border: solid 3px;
  border-color: #97bae7;
  background-color: hsla(210, 40%, 75%, 0.40);

}


.form_login input {
  margin: 15px;
  padding: 5px;
  background-color: hsla(208, 78%, 39%, 0.568)
}

.form_login input::placeholder {
  color: rgba(37, 26, 194, 0.808);
  opacity: 1;
}



/* id="btn_crear_cuenta"  */


form button {
background-color: hsla(100, 80%, 45%, 0.666);
margin: 10px;
width: 50%;

}
 /* <button id="btn_log_in"         class="signup btn_login">  NO_FUNCA */
 /* <button id="btn_crear_cuenta"   class="signup btn_login">  SI_FUNCA */

