* {
  margin: 0;
  box-sizing: border-box;
}
/*-----------------------------------------------------------------------------------------------*/
/*---------------------------FOOTER------------*/

footer {
  
  margin: 10px;
  padding: 0px;
}




/*---------------------------FOOTER----------END----*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*---------------------------MAIN--------------*/

html,body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    flex-grow: 1;
}
main {


  background-image: url("../img/index_fons.jpg");
  background-size: cover;
 flex-grow: 1;
  padding: 30px;

 
}




/*---------------------------MAIN------------END----*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
