.oculto {
    display: none ;
}

.error_display {
    border: 3px;
    border: solid red;
}

.logo {
    text-decoration: none; /*treu el subratllat dels links*/
    color: rgb(255, 0, 0);
    background-color: rgba(47, 65, 168, 0.478);
    font-weight: bold ;
    text-align: center;

    border-radius: 40px;
    
    width: 80px;
    height: 80px;
    
    padding-top: 27px;
    
    background-image: url("../img/Penta.png");
    background-size: cover;
}